{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Привет, я автор</h1>
    <p>
      Меня зовут Александр, мне 26 лет, я из города Санкт-Петербург. Окончил СПБГУТ по специальности бизнес-информатика. Успел поработать на разных должностях, в разных компаниях,
      среди которых были: авито, ютуб-канал с парой миллионов подписчиков, геймдев компания и прочие. Плотно дружу с компьютером и сижу за ним с 3 лет, поэтому решил, что
      нужно пробовать двигаться в IT направлении, к тому же это неплохой способ обеспечить себя стабильной почвой под ногами в нынешнее время перемен. Решил выбрать изучать пайтон
      из-за относительной простоты "вката" и интересных для меня сферах его применения, таких как машинное обучение и искусственный интеллект. К тому же, самые полезные программы
      и скрипты, которыми я пользовался были написаны по большей части на пайтоне. Я знаю, что могу.
    </p>
  </div>
{% endblock %}
