{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
  Избранные авторы
{% endblock %}
{% block content %}
  {% include "posts/includes/switcher.html" %}
  <div class="container py-5">
  <h1>Последние обновления на сайте</h1>
    <aside class="col-12 col-md-5">
      {% for post in page_obj %}
        {% include "posts/includes/post_card.html" %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include "includes/paginator.html" %}
    </aside>
  </div>
{% endblock %}
