{% extends "base.html" %}
{% load static %}
{% block title %}Профайл пользователя {{ author }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Все посты пользователя {{ author }}</h1>
    <h3>Всего постов: {{ author.posts.count }}</h3>
    {% if following %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button">
        Отписаться
      </a>
    {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button">
        Подписаться
      </a>
    {% endif %}
    <aside class="col-12 col-md-5">
      {% for post in page_obj %}
        {% include "posts/includes/post_card.html" %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% if post.group %}
        <a href="{% url 'posts:group_list' posts.group.slug %}">Все записи группы {{ post.group }}</a>
      {% endif %}
      <hr>
      {% include "includes/paginator.html" %}
    </aside>
  </div>
{% endblock %}
